@tailwind base;
@tailwind components;
@tailwind utilities;

.top-header {
    position: relative;
  }
  
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Adjust the width as needed */
  height: 100vh; /* Full height */
  background-color: #bfdbfe; /* This is the Tailwind CSS color for blue-200 */
  transition: all 0.3s;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
    .sticky-header {
        width: 250px; /* Adjust as needed */
        height: 100%;
        top: 0;
        left: 0;
        transform: translateY(0);
      }
}

/* input.css */
.sticky-nav {
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the flex container */
    width: 100%; /* Ensure the ul takes the full width of the sidebar */
  }
  .default-nav {
    flex-direction: row; /* or whatever your default styling is */
  }

  /* styles.css */
.modal-content::-webkit-scrollbar {
  width: 5px;
}

.modal-content::-webkit-scrollbar-track {
  background: #2b6cb0;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #2b6cb0;
}